<link rel="stylesheet" href="/styles/categories.css">
<div class="sticky-filters">
  <div class="dropdown my-3 d-block d-sm-none">
    <button class="btn  dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="fa-solid fa-filter"></i> Filter Categories
    </button>

    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
      <li><a class="dropdown-item filter" data-category="trending" href="#"><i
            class="fa-solid fa-fire me-2"></i>Trending</a></li>
      <li><a class="dropdown-item filter" data-category="rooms" href="#"><i class="fa-solid fa-bed me-2"></i>Rooms</a>
      </li>
      <li><a class="dropdown-item filter" data-category="iconic-cities" href="#"><i
            class="fa-solid fa-mountain-city me-2"></i>Iconic Cities</a></li>
      <li><a class="dropdown-item filter" data-category="mountains" href="#"><i
            class="fa-solid fa-mountain-sun me-2"></i>Mountains</a></li>
      <li><a class="dropdown-item filter" data-category="castles" href="#"><i
            class="fa-solid fa-chess-rook me-2"></i>Castles</a></li>
      <li><a class="dropdown-item filter" data-category="pools" href="#"><i
            class="fa-solid fa-person-swimming me-2"></i>Pools</a></li>
      <li><a class="dropdown-item filter" data-category="camping" href="#"><i
            class="fa-solid fa-campground me-2"></i>Camping</a></li>
      <li><a class="dropdown-item filter" data-category="farms" href="#"><i
            class="fa-solid fa-tractor me-2"></i>Farms</a></li>
      <li><a class="dropdown-item filter" data-category="arctic" href="#"><i
            class="fa-solid fa-snowflake me-2"></i>Arctic</a></li>
    </ul>
  </div>

 
  <div id="filters" class="d-none d-sm-flex flex-wrap gap-3 my-3 sticky-top">
    <div class="filter" data-category="trending"><i class="fa-solid fa-fire"></i> Trending</div>
    <div class="filter" data-category="rooms"><i class="fa-solid fa-bed"></i> Rooms</div>
    <div class="filter" data-category="iconic-cities"><i class="fa-solid fa-mountain-city"></i> Iconic Cities</div>
    <div class="filter" data-category="mountains"><i class="fa-solid fa-mountain-sun"></i> Mountains</div>
    <div class="filter" data-category="castles"><i class="fa-solid fa-chess-rook"></i> Castles</div>
    <div class="filter" data-category="pools"><i class="fa-solid fa-person-swimming"></i> Pools</div>
    <div class="filter" data-category="camping"><i class="fa-solid fa-campground"></i> Camping</div>
    <div class="filter" data-category="farms"><i class="fa-solid fa-tractor"></i> Farms</div>
    <div class="filter" data-category="arctic"><i class="fa-solid fa-snowflake"></i> Arctic</div>
  </div>
</div>
