<link rel="stylesheet" href="/styles/categories.css">
<div class="sticky-filters">
 
  <div id="filters" class="d-none d-sm-flex flex-wrap gap-3 my-3 sticky-top">
    <div class="filter" data-category="trending"><i class="fa-solid fa-fire"></i> Trending</div>
    <div class="filter" data-category="rooms"><i class="fa-solid fa-bed"></i> Rooms</div>
    <div class="filter" data-category="iconic-cities"><i class="fa-solid fa-mountain-city"></i> Iconic Cities</div>
    <div class="filter" data-category="mountains"><i class="fa-solid fa-mountain-sun"></i> Mountains</div>
    <div class="filter" data-category="castles"><i class="fa-solid fa-chess-rook"></i> Castles</div>
    <div class="filter" data-category="pools"><i class="fa-solid fa-person-swimming"></i> Pools</div>
    <div class="filter" data-category="camping"><i class="fa-solid fa-campground"></i> Camping</div>
    <div class="filter" data-category="farms"><i class="fa-solid fa-tractor"></i> Farms</div>
    <div class="filter" data-category="arctic"><i class="fa-solid fa-snowflake"></i> Arctic</div>
  </div>
</div>
