<link rel="stylesheet" href="/styles/footer.css">
<footer class="footer mt-5">
  <div class="footer-content container py-4 d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
    
   
    <div class="footer-social text-center text-md-start">
      <i class="fa-brands fa-square-facebook"></i>
     <i class="fa-brands fa-square-instagram"></i>
     <i class="fa-brands fa-linkedin"></i>
    </div>

   
    <div class="footer-brand text-center">
      <small>
        &copy; <%= new Date().getFullYear() %> WanderNest. All rights reserved.
      </small>
    </div>

  
    <div class="footer-links text-center text-md-end">
      <a href="/listing/aboutus">About Us</a>
    </div>

  </div>
</footer>

