<% layout('layouts/layout') %>
    <link rel="stylesheet" href="/styles/forgotPassword.css">
    <div class="form-container">
        <h2>Forgot Password</h2>

        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
            <% } %>
                <% if (messages.success) { %>
                    <div class="alert alert-success">
                        <%= messages.success %>
                    </div>
                    <% } %>

                        <form id="forgotForm">
                            <div class="form-group">
                                <label for="username">Enter your username</label>
                                <input type="text" name="username" id="username" required>
                            </div>

                            <div class="form-group">
                                <label for="email">Enter your registered email</label>
                                <input type="email" name="email" id="email" required>
                            </div>

                            <div class="form-group">
                                <label for="otp">OTP</label>
                                <input type="text" id="otp" name="otp" placeholder="Enter OTP here">
                                <div id="otpMessage" style="margin-top: 5px; color: green;"></div>
                            </div>

                            <button type="button" onclick="sendOtp()">Send OTP</button>
                            <button type="button" onclick="verifyOtp()">Verify OTP</button>
                        </form>

    </div>

    <script src="/js/forgotPassword.js">  </script>